# Log files
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage
.nyc_output

# Dependency directories
node_modules

# npm package lock
package-lock.json

# Project files
.rollup.cache
spec
src
tokens
.editorconfig
.eslintignore
.eslintrc
.gitignore
rollup.config.js
tsconfig.json
